<style>
    .yes{
		color: green;
		
	}
	
	.no{
		color: red;
	}
</style>
<TMPL_LOOP DATA_INFO>
    
         <TMPL_VAR DETAIL>
                  
                  <table class="table table-striped size key_value sub_heading">
			    <thead>
				    <tr>
					<th class="col-md-6">Feature</th>
					<th class="col-md-6">Detail</th>								
				    </tr>
			    </thead>
			    
			    
			    <tbody>				    
				   
				    <tr>
					<td class="col-md-6">Text</td>
					<td class="col-md-6"><TMPL_VAR TEXT></td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area</td>
					<td class="col-md-6"><TMPL_VAR TEXT_AREA></td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Text Area Editer</td>
					<td class="col-md-6"><TMPL_VAR TEXT_AREA_EDITER></td>								
				    </tr>
                                    
                                    <tr>
					<td class="col-md-6">Toogle Switch </td>
					<td class="col-md-6">
                                            <TMPL_IF TOOGLE_SWITCH> 
							<span class="yes">Yes</span>
						    <TMPL_ELSE>
							<span class="no">No</span>
					    </TMPL_IF>
                                        </td>								
				    </tr>
                                    
                                   <tr>
					<td class="col-md-6">Number</td>
					<td class="col-md-6"><TMPL_VAR NUMBER></td>								
				    </tr>
                                   
                                   <tr>
					<td class="col-md-6">Twin Box</td>
					<td class="col-md-6"><TMPL_VAR TWIN_BOX></td>								
				    </tr>
                                    
                                    <!--<tr>
					<td class="col-md-6"></td>
					<td class="col-md-6"></td>								
				    </tr>-->
				   
				    
			    </tbody>
			    
			</table>
</TMPL_LOOP>

