a {
  color: blue;
}
.accent-color {
  color: blue;
}
.accent-color-bg {
  background-color: blue;
}
.top-bar a:hover {
  color: blue;
}
.section-overlay {
  background-color: blue;
}
.top-bar.color-bar {
  background-color: blue;
}
.service-box .read-more {
  color: blue;
}
a.main-button,
input[type="submit"] {
  background-color: blue;
}
.slicknav_btn {
  border-color: blue;
}
.slicknav_btn:hover {
  background: blue;
}
.slicknav_menu .slicknav_icon-bar {
  background: blue;
}
.slicknav_nav a:hover,
.slicknav_nav .active {
  color: blue;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a.active {
  color: blue;
}
.dropdown > li:hover > a,
.sup-dropdown li:hover > a {
  color: blue;
}
.navbar-default .navbar-nav > li > a:after {
  background-color: blue;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li:hover > a {
  border-color: blue;
}
.dropdown  li a.active,
.sup-dropdown li a.active {
  color: blue;
}
ul.breadcrumbs li a:hover {
  color: blue;
}
.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
  background-color: blue;
}
.tp-caption.color-bg {
  background-color: blue;
}
.team-member .member-socail a.mail:hover i {
  background-color: blue;
}
.post-share a.mail:hover {
  background-color: blue;
}
.progress .progress-bar.progress-bar-primary {
  background-color: blue;
}
.latest-posts-classic .left-meta-post .post-type i {
  background-color: blue;
}
.latest-posts-classic .post-title a:hover {
  color: blue;
}
.latest-posts-classic .read-more {
  color: blue;
}
.panel-title a {
  color: blue;
}
.panel-title a:hover {
  color: blue;
}
.milestone-block .milestone-icon {
  background-color: blue;
}
.milestone-block .milestone-icon:after {
  background-color: blue;
}
.milestone-block .milestone-number {
  color: blue;
}
.pricing-tables .pricing-table.highlight-plan .plan-signup {
  background-color: blue;
}
.pricing-tables .pricing-table.highlight-plan .plan-name {
  background-color: blue;
}
.btn-system {
  background-color: blue;
}
.btn-system.border-btn {
  border-color: blue;
  color: blue;
}
.btn-system.border-btn:hover {
  background-color: blue;
}
.btn-system.border-btn.btn-wite:hover {
  color: blue;
}
.btn-system.btn-wite {
  color: blue;
}
ul.icons-list li i {
  color: blue;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: blue;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  color: blue;
}
.icon-small {
  text-shadow: 0 0 0 blue;
}
.icon-small:hover,
.service-box:hover .icon-small {
  color: blue;
}
.icon-medium {
  text-shadow: 0 0 0 blue;
}
.icon-medium:hover,
.service-box:hover .icon-medium {
  color: blue;
}
.icon-large {
  text-shadow: 0 0 0 blue;
}
.icon-large:hover,
.service-box:hover .icon-large {
  color: blue;
}
.icon-effect-1 {
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.icon-effect-1:after {
  background-color: blue;
}
.icon-effect-1:hover,
.service-box:hover .icon-effect-1 {
  color: blue;
}
.icon-effect-2 {
  color: blue;
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.icon-effect-2:after {
  background-color: blue;
}
.icon-effect-3 {
  color: blue;
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.icon-effect-4 {
  color: blue;
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.icon-effect-5 {
  color: blue;
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.icon-effect-6 {
  color: blue;
  box-shadow: 0 0 0 3px blue;
  -o-box-shadow: 0 0 0 3px blue;
  -moz-box-shadow: 0 0 0 3px blue;
  -webkit-box-shadow: 0 0 0 3px blue;
}
.team-member .member-photo .member-name span {
  background-color: blue;
}
.classic-title span {
  border-bottom-color: blue;
}
.portfolio-filter li a:hover {
  color: blue;
}
.portfolio-filter li a.selected {
  border-color: blue;
  background-color: blue;
}
.portfolio-item:hover .portfolio-details h4 {
  color: blue;
}
.project-content h4 span {
  border-bottom-color: blue;
}
.recent-projects h4.title span {
  border-bottom-color: blue;
}
ul.post-meta li a:hover {
  color: blue;
}
#pagination span.current {
  border-color: blue;
  background-color: blue;
}
#pagination a:hover {
  color: blue;
}
.post-tags-list a:hover {
  background-color: blue;
}
.post-share a.mail {
  background-color: blue;
}
.sidebar a:hover {
  color: blue;
}
.widget-search .search-btn {
  background-color: blue;
}
.sidebar .tagcloud a:hover {
  background-color: blue;
}
.back-to-top:hover i {
  background-color: blue;
}
.touch-slider .owl-controls.clickable .owl-buttons div:hover {
  background-color: blue;
}
.touch-carousel .owl-controls.clickable .owl-buttons div:hover {
  background-color: blue;
}
.testimonials-carousel .owl-controls.clickable .owl-buttons div {
  background-color: blue;
}
.testimonials-carousel .owl-controls.clickable .owl-buttons div:hover i {
  color: blue;
}
#portfolio-list li .portfolio-item-content {
  background: rgba(0,175,209,0.9);
}
.services-3-icon i {
  background-color: blue;
}
.services-2-icon i {
  background-color: blue;
}
#main-slide .animated2 strong {
  color: blue;
}
#main-slide .animated4 strong {
  color: blue;
}
#main-slide .animated7 strong {
  color: blue;
}
#main-slide .carousel-control i:hover {
  background-color: blue;
}
.slider.btn {
  background-color: blue;
}
#main-slide .carousel-indicators .active {
  background-color: blue;
}
.counter-item i {
  color: blue;
}
.timer {
  color: blue;
}
.progress-bar {
  background-color: blue;
}
.team-member.modern .member-photo:after {
  background-color: blue;
}
.twitter-widget a {
  color: blue;
}
.dot1,
.dot2 {
  background-color: blue;
}
