
	      <style>
		     header{display: none;}
		     footer{display: none;}
		    .login_panel .close, .hidden-header {display: none;}
		    .login_panel_area{ margin-top:10%; position:relative;}
	      </style>		      

	      <div class="container" id="content ">

		     <div class="col-md-4"></div>		   
		     <div class="col-md-4 col-xs-12 login_panel_area">
				      
				      <div class="modal-dialog login_panel modal-dialog modal-sm" >
				      			 <div class="modal-content">
		   					   <div class="modal-header">
							     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							     <!--<h4 class="modal-title" id="myModalLabel">Welcome</h4>-->
							     <img src="terminal//default/images/logo_1.png" class="img-responsive">
							   </div>
				      			 <div class="modal-body">
		   
				      <form class="form-signin" id="form-sign-in" onsubmit="return  check_key();">
	  
			    <div class="form-group has-feedback" 
				 id="inputEmail_area">
				<label class="txt_size_12 clr_red" id="inputEmail_warn"></label>
                             
				<div class="input-group">				
				    
					
					<TMPL_IF IS_LDAP>
					
					<span class="input-group-addon" id="basic-addon9">
				      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				    </span>
					
				     <input type="text" placeholder="Your LDAP user name"
					    class="form-control"
					    tabindex="1"
					    id="inputEmail"
					    maxlength="75"
					    onkeydown="JavaScript:set_stlye_neutral(this,{'is_warn':1});"
						onkeypress  = "return PR_All_Alpha_Numeric(event,' ');"
					    onblur="return has_length(this);"
					   
					     aria-describedby="inputEmailStatus">
						 
					<TMPL_ELSE>
					
					<span class="input-group-addon" id="basic-addon9">
				      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				    </span>
					
						<input type="text" placeholder="Your email address"
					    class="form-control"
					    tabindex="1"
					    id="inputEmail"
					    maxlength="75"
					    onkeydown="JavaScript:set_stlye_neutral(this,{'is_warn':1});"
						 onkeypress  = "return PR_All_Alpha_Numeric(event,'@-_.');"
					    onblur="return check_mail(this);"
					    
					     aria-describedby="inputEmailStatus">

					</TMPL_IF>
						 
				      <span id="inputEmail_icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
				    
				 </div>
			    </div>
			    
			      <div class="form-group has-feedback" 
			            id="inputPassword_area">
				  
				  <div class="input-group">
				     
				    
				    <span class="input-group-addon" >
				      <span class="glyphicon  glyphicon-lock" aria-hidden="true"></span>
				    </span>
                                   <input type="password" placeholder="Your password"
                                          class="form-control"
                                          tabindex="2"
                                          id="inputPassword"                                          
                                         
					  onkeydown="JavaScript:set_stlye_neutral(this);"
					  onblur="return is_empty(this);" 
					  >
				    <span id="inputPassword_icon" class="glyphicon form-control-feedback" aria-hidden="true"></span>
				  </div> 
			      </div>   
	 
			      <div class="modal-footer">	
					<button class="btn  btn-default btn-sm"
						type="submit"
						tabindex="3"
						>
					<span id="lbl-sign-in" class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
					Sign In
					</button>
					
				
					
				     
			      </div>
			      
				<!--<div class="modal-footer" style="text-align:right;">
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						-- <div class="fb-login-button"   data-scope="email"   data-show-faces="false"  onlogin="checkLoginState();"></div>
			 <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
				</div>-->
				
			      <div class="modal-footer">
			
			<TMPL_IF IS_OPEN>
			<a href="#" data-toggle="modal" data-target="#myModal_signUp">
			<span class="glyphicon glyphicon-edit clr_green" aria-hidden="true"></span>
			Sign Up</a>&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;
			</TMPL_IF>
			
			<TMPL_UNLESS IS_LDAP>			
			      <a href="#" data-toggle="modal" data-target="#myModalForgetPassword">
			<span class="glyphicon glyphicon-lock clr_gray_5" aria-hidden="true"></span>
			Forgot Password</a>
			
			</TMPL_UNLESS>
			
			</div>
	   
			   
		    </form>
		      </div></div></div>
				  
				      
		   </div>
		   
		   
		   <div class="col-md-4">
				      
				   
				      
		   </div>

       </div>

     
      