
         
    <div  id="margo_loader">
	  <div class="spinner">
	    <div class="dot1"></div>
	   <div class="dot2"></div>
	  </div>
    </div>
	
    
    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Start Contact Info -->
              <ul class="contact-details">
		
		<TMPL_IF IS_HOME>
		  
		  
		  <li><a href="#" class=" txt_size_14 b"><i class="fa fa-map-marker">&nbsp;</i><span id="menu_org_name"><TMPL_VAR HOME_ADD_NAME></span>&nbsp;&nbsp; </a></li>              
		  <li id="menu_email_area"><a href="#" class=" txt_size_14"><i class="fa fa-send clr_pri">&nbsp;</i><span id="menu_email"><TMPL_VAR HOME_ADD_EMAIL></span>&nbsp;</a></li>		                
		  <li id="menu_phone_area"><a href="#"  class=" txt_size_14"><i class="fa fa-phone clr_pri">&nbsp;</i><span id="menu_phone"><TMPL_VAR HOME_ADD_PHONE></span>&nbsp; </a></li>              
		  <li id="menu_mobile_area"><a href="#"  class=" txt_size_14"><i class="fa fa-mobile clr_pri animated <TMPL_IF IS_HOME> infinite </TMPL_IF> bounceIn">&nbsp;</i><span id="menu_mobile"><TMPL_VAR HOME_ADD_MOBILE></span></a></li>
		
		</TMPL_IF>
		 
              </ul>
              <!-- End Contact Info -->
            </div>
            
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .top-bar -->
      <!-- End Top Bar -->


      <!-- Start  Logo & Naviagtion  -->
      
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="?home">
              <img id="logo" alt="Home" src="<TMPL_VAR COACH_PATH>/<TMPL_VAR COACH_NAME>/images/logo_1.png"  class="img-responsive">
            </a>
          </div>
          <div class="navbar-collapse collapse">
            
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
		  
		  <TMPL_IF APP_MENU_TEXT>
			      <TMPL_VAR APP_MENU_TEXT>
		  <TMPL_ELSE>			
			      <TMPL_LOOP APP_MENU>
					  <TMPL_IF CHILD_MENU> 
						    
						 <li>
						     
						     <a  href="#" title="<TMPL_VAR MENU_TITLE>"
							 class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">			       
							 <TMPL_VAR MENU_TITLE>&nbsp;<span class="caret"></span>
						     </a>
						     
						     <ul class="dropdown-menu" role="menu">
							 
							 <TMPL_LOOP CHILD_MENU>
							     <li>
								 <a href="<TMPL_VAR MENU_HREF>">
								     <span class="<TMPL_VAR css_class>" aria-hidden="true"></span>
								     &nbsp;&nbsp;<TMPL_VAR MENU_TITLE> 
								    
								 </a>
							     </li>
							 </TMPL_LOOP>
								      
						     </ul> 
						 </li>
						     
					     <TMPL_ELSE>
						 <li ><a href="<TMPL_VAR menu_href>"><TMPL_VAR menu_title>&nbsp;</a></li>
					     </TMPL_IF>
				    
			      </TMPL_LOOP>
		  </TMPL_IF>
		
		  <!---<TMPL_VAR USER_TST> 	--->
	      
		  <TMPL_IF USER_SAD>			
			
			<li ><a  href="?d=entity_dash_board"> <i class="fa fa-pie-chart"></i>&nbsp;
			Entity Dash&nbsp;</a></li>		    			
			
			<!---EA--->
			<li>
			    
			    <a href="#"
			       class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
			      >
			        <i class="fa fa-clone"></i>
			        &nbsp;Core&nbsp;<span class="caret"></span>
			    </a>			    
			    <ul class="dropdown-menu" role="menu">
				    <li> <a href="?d=entity">Entity</a></li>
				    <li> <a href="?d=entity_attribute">Entity Attribute</a></li>							
				    <li> <a href="?d=entity_child">Entity Child</a></li>
				    <li> <a href="?d=entity_child_base">Entity Child Base</a></li>
				    <li> <a href="?d=entity_key_value">Entity Key Value</a></li>
				    <li> <a href="?d=entity_grouping">Entity Grouping</a></li>
				    <li> <a href="?d=master_panel">Master Panel</a></li>
			    </ul>
			</li>
			
						<li>
												<a href="#"
															class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
										 	>
														<i class="fa fa-clone"></i>
														&nbsp;External&nbsp;<span class="caret"></span>
												</a>			    
										  <ul class="dropdown-menu" role="menu">			
																		<li><a href="?d=external_entity">Entity</a></li>
																		<li><a href="?d=external_attribute">Attribute</a></li>
																		<li><a href="?d=def__external">Definitions</a></li>			
																		<li><a href="?d=entity_child_base">Entity Child Base</a></li>
																		<li><a href="?d=entity_key_value">Entity Key Value</a></li>
																		<li><a href="?d=entity_grouping">Entity Grouping</a></li>
												</ul>
						</li>
			
			
			<!---Page--->
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				&nbsp;
				<i class="fa fa-file"></i>
				&nbsp;Portal&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			      <ul class="dropdown-menu" role="menu">
				    <li><a href="?d=coach_eav">Coach</a></li>
				    <li><a href="?d=cms_page_eav">Page Desk</a></li>
				    <li><a href="?d=page_addon">Page Addon</a></li>
				    <li><a href="?d=page_addon_attribute">Page Addon Attribute</a></li>
				    <li><a href="?d=page_section__template">Page Section Template</a></li>
				  <!--<li><a href="?d=page_layout">Page Layout</a></li>
				    <li><a href="?d=page_template">Template</a></li>-->
				    <li><a href="?d=theme">Theme</a></li>
			      </ul>
			</li>
			
			
			<!---Issues--->
			<li>			    
			    <a href="#"
			       class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
			      >
			        <i class="fa fa-clone"></i>
			        &nbsp;Apps&nbsp;<span class="caret"></span>
			    </a>
			    
			    <ul class="dropdown-menu" role="menu">				 
				   <li> <a href="?d=issue">Issue</a></li>
			    </ul>			    
			</li>
			
			
			
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				&nbsp;
				<i class="fa fa-user"></i>
				&nbsp;Setup&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			     <ul class="dropdown-menu" role="menu">
			            <li><a href="?d=def">App Definations</a></li>
				    <li><a href="?d=log_action">Log Action</a></li>
				    <li><a href="?d=contact_eav">Contact</a></li>
			            <li><a href="?d=user_neutral">User Neutral</a></li>
				    <li><a href="?d=user_role">User Role</a></li>
				    <!--<li><a href="?d=user_role_permission">User Role Permissions</a></li>-->
			    </ul>
			    
			</li>
			
			
			
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				&nbsp;Log&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			    <ul class="dropdown-menu" role="menu">
				    <li> <a href="?d=status">Status Log</a></li>				    				
				    <li> <a href="?d=sys_log">Sys Log</a></li>
			    </ul>
			    
			</li>
			
	
			
			<!---EA--->
			<li>
			    
			    <a href="#"
			       class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
			      >
			        <i class="fa fa-clone"></i>
			        &nbsp;Demo&nbsp;<span class="caret"></span>
			    </a>
			    
			    <ul class="dropdown-menu" role="menu">				 
				   <li><a href="?dx=demo__flat">Demo Flat</a></li>
				   <li><a href="?dx=demo__eav">Demo EAV</a></li>
			    </ul>
			    
			</li>
			
			
			
		    </TMPL_IF>	 <!--- end of super admin---> 	
			
		    <!---Admin--->  
		    <TMPL_IF USER_ADM></TMPL_IF>		    
		    
		    <!--- Base User---> 
		    <TMPL_IF USER_BAS></TMPL_IF> 
		     
			 
			 
			 
		    
		     <TMPL_UNLESS NO_USER>
			 
				<li><a>|</a></li>
				<li>			    
			    <a href="#" class="dropdown-toggle hint--left" data-hint="Manage your Profile" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-cog clr_gray_a more txt_size_18" aria-hidden="true"></span>
				<span class="caret"></span>
			    </a>			  
						<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-toggle="modal" data-target="#my-account">
							<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
							&nbsp;&nbsp;My Account
							 </a>
						</li>
						
						<li><a href="#" data-toggle="modal" data-target="#myModalChangePassword">
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							&nbsp;&nbsp;Change Password
							</a>
						</li>
						</ul>			  
				</li>
				
			   <li>
			      <a href="JavaScript:get_out();" class="txt_clr_red"
				 rel="txtTooltip" title="Log Out" data-toggle="tooltip" data-placement="bottom"
				 >
			      
				 <button class="btn btn-xs btn-danger" type="button">			
				    <span class="glyphicon glyphicon-log-out pad_5" aria-hidden="true"></span>
				 </button>
			      </a>
			   </li>
			   <!---<TMPL_VAR USER_NAME><TMPL_VAR IS_BLOG><TMPL_VAR IS_DIRECTORY><TMPL_VAR IS_GALLERY><TMPL_VAR IS_NEWS_EVENTS>--->
		     </TMPL_UNLESS>		     
		     
		    <!---No User--->
		    
		    <TMPL_IF NO_USER>
			
			    <TMPL_LOOP PARENT_MENU>
					 
				 <TMPL_IF CHILD_MENU> 
					<!--<TMPL_VAR menu_code>-->	
				     <li>
					 
					 <a  href="#" title="<TMPL_VAR MENU_TITLE>"
					     class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">			       
					     <TMPL_VAR MENU_NAME>&nbsp;<span class="caret"></span>
					 </a>
					 
					 <ul class="dropdown-menu" role="menu">
					     
					     <TMPL_LOOP CHILD_MENU>
						 <li>
						     <a href="<TMPL_VAR MENU_HREF>">
							 <span class="<TMPL_VAR css_class>" aria-hidden="true"></span>
							 &nbsp;&nbsp;<TMPL_VAR MENU_NAME> 
							 <!-- <TMPL_VAR no_data>  -->
						     </a>
						 </li>
					     </TMPL_LOOP>
							  
					 </ul> 
				     </li>
					 
				 <TMPL_ELSE>
				     <li ><a class="page-scroll"  id="<TMPL_VAR menu_code>" href="<TMPL_VAR menu_href>"><TMPL_VAR menu_name>&nbsp;</a></li>
				 </TMPL_IF>
						 
			      </TMPL_LOOP>
			  
		      
		      <TMPL_IF IS_OPEN>
			  
			   
				    <li>
					<a href="#" data-toggle="modal" data-target="#myModalSignIn" >
					    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
					    &nbsp;&nbsp;Sign In
					</a>
				    </li>
				  <li>
					<a href="#" data-toggle="modal" data-target="#myModal_signUp">
					    <span class="glyphicon glyphicon-edit" aria-hidden="true">
					    </span>&nbsp;&nbsp;Sign Up
					</a>
				    </li>	
				
		      </TMPL_IF>
					
		    </TMPL_IF>
		    
		    
		     <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
            <!-- End Navigation List -->
          </div>
        </div>

       
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">	 
	  
	   <TMPL_IF USER_SAD>		      
		      
		        <li ><a  href="?d=entity_dash_board"> <i class="fa fa-pie-chart"></i>&nbsp;
			Entity Dash&nbsp;</a></li>		    			
			<!---EA--->
			<li>
			    
			    <a href="#"
			       class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
			      >
			        <i class="fa fa-clone"></i>
			        &nbsp;Entity Setup&nbsp;<span class="caret"></span>
			    </a>
			    
			    <ul class="dropdown-menu" role="menu">
				   <li> <a href="?d=entity">Entity</a></li>
				   <li> <a href="?d=entity_attribute">Entity Attr.</a></li>
				   <li> <a href="?d=external_attribute">External Attr.</a></li>
				   <li> <a href="?d=entity_child">Entity Child</a></li>
				   <li> <a href="?d=entity_child_base">Entity Child Base</a></li>
				   <li> <a href="?d=entity_key_value">Entity Key Value</a></li>
				   <li> <a href="?d=entity_child_apex">Entity Child Apex</a></li>
				   
				 
			    </ul>
			    
			</li>
			
			
			<!---EA--->
			<li>
			    
			    <a href="#"
			       class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false"			       
			      >
			        <i class="fa fa-clone"></i>
			        &nbsp;Others&nbsp;<span class="caret"></span>
			    </a>
			    
			    <ul class="dropdown-menu" role="menu">
				   <li> <a href="?d=time_range">Time Range HMS</a></li>
				   <li> <a href="?d=issue">Issue</a></li>
			    </ul>
			    
			</li>
			
					<!---Log--->
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				&nbsp;
				<i class="fa fa-file"></i>
				&nbsp;Page&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			    <ul class="dropdown-menu" role="menu">
				    <li><a href="?d=def">App Definations</a></li>
				    <li><a href="?d=coach">Coach</a></li>
				    <li><a href="?d=cms_page_eav">Page Info</a></li>
				    <li><a href="?d=page_layout">Page Layout</a></li>
				    <li><a href="?d=page_addon">Page Addon</a></li>
			    </ul>
			    
			</li>
			
			
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				&nbsp;
				<i class="fa fa-user"></i>
				&nbsp;Setup&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			    <ul class="dropdown-menu" role="menu">
			          <li><a href="?d=user_neutral">User Neutral</a></li>
				  <li><a href="?d=user_role">User Role</a></li>
				  <li><a href="?d=user_role_permission">User Role Permissions</a></li>
			    </ul>
			    
			</li>
			
			
			
			<li>

			    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
				&nbsp;Log&nbsp;
				<span class="caret"></span>
			    </a>				
				 
			    <ul class="dropdown-menu" role="menu">
				    <li> <a href="?d_series=status_detail">Status Log</a></li>				    				
				    <li> <a href="?d_series=sys_log">Sys Log</a></li>
			    </ul>
			    
			</li>
			
			<!---Setup--->
			<li>			    
			    <a href="#" class="dropdown-toggle hint--left" data-hint="Manage your Profile" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-cog clr_gray_a more txt_size_18" aria-hidden="true"></span>
				<span class="caret"></span>
			    </a>			  
			    <ul class="dropdown-menu" role="menu">
				<li><a href="#" data-toggle="modal" data-target="#my-account">
				    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				    &nbsp;&nbsp;My Account
				     </a>
				</li>
				<li class="divider"></li>
				<li><a href="#" data-toggle="modal" data-target="#myModalChangePassword">
				    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
				    &nbsp;&nbsp;Change Password
				    </a>
				</li>
			    </ul>			  
			</li>
			
			
			
		    </TMPL_IF>	 <!--- end of super admin---> 	
			
		 
		    
		    
		    <TMPL_IF USER_ADM></TMPL_IF> <!--- End of Member A --->
		    <!--- Base User---> 
		    <TMPL_IF USER_BAS></TMPL_IF> <!--- End of Member A --->	
		     
		    
		    <TMPL_UNLESS NO_USER>
				<li><a>|</a></li>
				<li>			    
			    <a href="#" class="dropdown-toggle hint--left" data-hint="Manage your Profile" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-cog clr_gray_a more txt_size_18" aria-hidden="true"></span>
				<span class="caret"></span>
			    </a>			  
						<ul class="dropdown-menu" role="menu">
						<li><a href="#" data-toggle="modal" data-target="#my-account">
							<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
							&nbsp;&nbsp;My Account
							 </a>
						</li>
						
						<li><a href="?dx=my_profile">
							<i class="fa fa-user" aria-hidden="true">&nbsp;</i>
							&nbsp;&nbsp;My Profile
							 </a>
						</li>
						
						<li><a href="#" data-toggle="modal" data-target="#myModalChangePassword">
							<span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
							&nbsp;&nbsp;Change Password
							</a>
						</li>
						</ul>			  
				</li>	
			 
				
			   <li>
			      <a href="JavaScript:get_out();" class="txt_clr_red"
				 rel="txtTooltip" title="Log Out" data-toggle="tooltip" data-placement="bottom"
				 >
			      
				 <button class="btn btn-xs btn-danger" type="button">			
				    <span class="glyphicon glyphicon-log-out pad_5" aria-hidden="true"></span>
				 </button>
			      </a>
			   </li>
		     </TMPL_UNLESS>		     
		     
		    <!---No User--->
		    
		    <TMPL_IF NO_USER>
		      
		      <TMPL_IF IS_OPEN>
			  
			   
				    <li>
					<a href="#" data-toggle="modal" data-target="#myModalSignIn" >
					    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
					    &nbsp;&nbsp;Sign In
					</a>
				    </li>
				  <li>
					<a href="#" data-toggle="modal" data-target="#myModal_signUp">
					    <span class="glyphicon glyphicon-edit" aria-hidden="true">
					    </span>&nbsp;&nbsp;Sign Up
					</a>
				    </li>	
				
		      </TMPL_IF>
					
		    </TMPL_IF>
		    
		    
		     <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
         
        </ul>
        <!-- Mobile Menu End -->


      </div>
      <!-- End Header Logo & Naviagtion -->
      <TMPL_UNLESS IS_PAGE>
	    <section class="fbn_page_bar">
		  <div class="container">
			<span class="col-md-12"><b>&raquo;</b>&nbsp;<TMPL_VAR PAGE_TITLE></span>
		  </div>
	    </section>
      </TMPL_UNLESS>

    </header>
    <!-- End Header Section -->
    
   
 


