
         
    <div  id="margo_loader">
	  <div class="spinner">
	    <div class="dot1"></div>
	   <div class="dot2"></div>
	  </div>
    </div>
	
    
    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Start Contact Info -->
              <ul class="contact-details">
		
		
		  
		  
		  <li><a href="#" class=" txt_size_14 b"><i class="fa fa-map-marker">&nbsp;</i><span id="menu_org_name"></span>&nbsp;&nbsp; </a></li>              
		  <li id="menu_email_area"><a href="#" class=" txt_size_14"><i class="fa fa-send clr_pri">&nbsp;</i><span id="menu_email"></span>&nbsp;</a></li>		                
		  <li id="menu_phone_area"><a href="#"  class=" txt_size_14"><i class="fa fa-phone clr_pri">&nbsp;</i><span id="menu_phone"></span>&nbsp; </a></li>              
		  <li id="menu_mobile_area"><a href="#"  class=" txt_size_14"><i class="fa fa-mobile clr_pri animated  infinite  bounceIn">&nbsp;</i><span id="menu_mobile"></span></a></li>
		
		
		 
              </ul>
              <!-- End Contact Info -->
            </div>
            
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->
      </div>
      <!-- .top-bar -->
      <!-- End Top Bar -->


      <!-- Start  Logo & Naviagtion  -->
      
      <div class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="?home">
              <img id="logo" alt="Home" src="terminal//default/images/logo_1.png"  class="img-responsive">
            </a>
          </div>
          <div class="navbar-collapse collapse">
            
            <!-- Start Navigation List -->
            <ul class="nav navbar-nav navbar-right">
		  
		  			
			      
		  
			
	      
		  	 <!--- end of super admin---> 	
			
		    
		     <!--- Dynamic Menu--->
		     
		     
			
			 
		     
			      
					 
				 
				     <li ><a class="page-scroll"  id="" href="#3872">Home &nbsp;</a></li>
				 
						 
			      
					 
				 
				     <li ><a class="page-scroll"  id="test" href="?test">Section&nbsp;</a></li>
				 
						 
			      
			      
			      <!--- Dynamic Content--->
			      
				   
				 
				     
				
				 
				 
				 
				 
				 <!--<li><a href="#" data-toggle="modal" data-target="#myModalSignIn"><b><i class="fa fa-key">&nbsp;</i>Sign In</b></a>-->
				  
			
			 
			 
			 
		     
		    
		 
		    
		    
		    <!---Admin--->  
		      <!--- end of SYSTEM admin--->
		    
		    
		     <!--- End of Member A --->
		    
		    
		    <!--- Base User---> 
		     <!--- End of Member A --->	
		     
		    <!---Member B--->  
		    	
		     
		     
		    <!---Inactive User---> 
		    
		    
		     		     
		     
		    <!---No User--->
		    
		    
			
			
		      
		      
					
		    
		    
		    
		     <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
            </ul>
            <!-- End Navigation List -->
          </div>
        </div>

       
        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">	 
	  
	   	 <!--- end of super admin---> 	
			
		    
		     <!--- Dynamic Menu--->
		     
		     
			
			 
		     
			      
					 
				 
				     <li ><a class="page-scroll"  id="" href="#3872">Home &nbsp;</a></li>
				 
						 
			      
					 
				 
				     <li ><a class="page-scroll"  id="test" href="?test">Section&nbsp;</a></li>
				 
						 
			      
			      
			      <!--- Dynamic Content--->
			      
				   
				 
				     
				
				 
				 
				 
				 
				 <!--<li><a href="#" data-toggle="modal" data-target="#myModalSignIn"><b><i class="fa fa-key">&nbsp;</i>Sign In</b></a>-->
				  
			
			 
			 
			 
		     
		    
		 
		    
		    
		    <!---Admin--->  
		      <!--- end of SYSTEM admin--->
		    
		    
		     <!--- End of Member A --->
		    
		    
		    <!--- Base User---> 
		     <!--- End of Member A --->	
		     
		    <!---Member B--->  
		    	
		     
		     
		    <!---Inactive User---> 
		    
		    
		     		     
		     
		    <!---No User--->
		    
		    
		      
		      
					
		    
		    
		    
		     <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
         
        </ul>
        <!-- Mobile Menu End -->


      </div>
      <!-- End Header Logo & Naviagtion -->
      

    </header>
    <!-- End Header Section -->
    
   
 


