<TMPL_IF G1_{{SECTION_ID}}>
      <section id="{{SECTION_ID}}" class=" font_lato brdr_bottom">
	<div class="container">
	       <div class="col-md-12 mar_tb_3">&nbsp;</div>
		     <TMPL_IF G1_HEADING_{{SECTION_ID}}>
			    <TMPL_LOOP G1_HEADING_{{SECTION_ID}}>
				    <div class="big-title text-center" data-animation="fadeInDown" data-animation-delay="01">
				          <TMPL_IF HEADING><h1><TMPL_VAR HEADING></h1></TMPL_IF>
					  <TMPL_IF SUB_HEADING><p class="title-desc"><TMPL_VAR SUB_HEADING></p></TMPL_IF>
				    </div>
			    </TMPL_LOOP>
		     </TMPL_IF>	
	      <TMPL_LOOP G1_{{SECTION_ID}}>		
		 <div class="col-md-12 align_J pad_lr">
		        <TMPL_VAR CONTENT>
		        <div class="col-md-12 mar_tb_10"></div>
		 </div>
	      </TMPL_LOOP>
	</div>
     </section>	
</TMPL_IF>