
         
 <!---<TMPL_VAR PAGE_ID><TMPL_VAR PAGE_TITLE><TMPL_VAR PARENT_KEY_CODE>
      <TMPL_VAR PARENT_NAME>
      <TMPL_VAR PARENT_RIGHT_IMAGE>
      <TMPL_VAR PARENT_HEADER_IMAGE>
      <TMPL_VAR PAGE_HEADER_IMAGE>
      <TMPL_VAR PAGE_RIGHT_IMAGE>
      <TMPL_VAR SIDE_MENU>
      <TMPL_VAR MENU_NAME>
      <TMPL_VAR CODE>
  --->

  
    
    
    <div id="content">
	<div class="container col-md-12">	
	    <div class="page-content">
	        <div class="row pad_lr">
			<div class="col-md-12 pad_lr">
			    <!-- Page Content--->
			    <div class="col-md-9  brdr_right_light ">
				<TMPL_VAR PAGE_INFO>
			    </div>
			    
			    <!--- Side bar--->	
			    <div class="col-md-3 sidebar right-sidebar pad_lr"  id="sidebar">
                   <div class="lo_external_attribute">
                        <ul>
                            <li><a href="javascript:external_attribute_load('&i_t=ITTX')">Text</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITTA')">Textarea</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITLA')">Label</a></li> 
                            <li><a href="javascript:external_attribute_load('&i_t=ITHN')">Hidden</a></li> 
                            <li><a href="javascript:external_attribute_load('&i_t=ITHD')">Heading</a></li>  
                            <li><a href="javascript:external_attribute_load('&i_t=ITSH')">Sub-heading</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITIG')">Integer</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITNM')">Number</a></li>  
                            <li><a href="javascript:external_attribute_load('&i_t=ITDT')">Date</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITTI')">Time</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITTG')">Toggle Switch</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITRG')">Range</a></li>  
                            <li><a href="javascript:external_attribute_load('&i_t=ITTB')">Twin Box</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITSL')">Simple List</a></li>
							<li><a href="javascript:external_attribute_load('&i_t=ITML')">Multiple List</a></li>							
                            <li><a href="javascript:external_attribute_load('&i_t=ITFT')">Fiben Table</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITTE')">Textarea Editor</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITCE')">Code Editor</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITFD')">Upload Doc</a></li>
                            <li><a href="javascript:external_attribute_load('&i_t=ITFI')">Upload Image</a></li>
                      </ul>
                  </div>
			    </div> <!--end of sidebar-->			    
			</div><!--- inner container--->
		</div><!--/row-->
	    </div><!--page- content-->
	</div><!--container-->
    </div><!--- Content--->  
       





